.album-header{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.photos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-photo{
    width: 30%;
    margin: 0 1% 2% 1%;
}
.single-img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
@media(max-width: 768px){

}
@media(max-width: 576px){
    .single-photo{
        width: 80%;
    }
}