.dropdown-navigation{
    background: transparent;
    position: fixed;
    top: 50px;
    right: 2.5rem;
    max-height: 0;
    transition: max-height 0.10s ease-out;
    overflow: hidden;
    position: absolute;
    z-index: 250;
    font-weight: 700;
}
.dropdown-navigation.opened{
    max-height: 500px;
    transition: max-height 0.15s ease-in;
}

.dropdown-navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.dropdown-navigation li{
    margin-bottom: .5rem;
}
.dropdown-navigation a{
    color: white;
    text-decoration: none;
}
.dropdown-navigation a:hover,
.dropdown-navigation a:active{
    color: #202020;
    transition: 300ms;
}
.dropdown-navigation ul li a.active-nagivation-link{
    color: #202020;
}
@media(min-width:691px){
    .dropdown-navigation.opened{
        max-height: 0;
        transition: max-height 0.10s ease-out;
        overflow: hidden;
        position: absolute;
    }
}
@media(max-width: 690px){
    .dropdown-navigation{
        right: .5rem;
    }
}