.about-description-wrapper{
    max-width: 40rem;
    margin-left: 5rem;
    color: white;
}
.about-description-wrapper h1{
    letter-spacing: .04rem;
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    transition: .3s;
}
.about-description-wrapper h2{
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: .8rem;
    margin-block-start: 0;
    transition: .3s;
}
.about-lang-picker{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flag{
    width: 1.2rem;
    height: auto;  
    margin-right: .5rem;
    cursor: pointer;
    transition: .3s;
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
}
.flag.active-flag, .flag:hover{
    transform: scale(1.3);
}
.about-description-wrapper p{
    font-size: 1.3rem;
    margin-bottom: .7rem;
}
.about-description-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.about-description-link:hover{
    text-decoration: underline;
    text-underline-position: below;
}

@media(max-width: 1200px){
    .about-description-wrapper{
        margin: 0;
    }
}
@media(max-width: 576px){
    .about-description-wrapper h1{
        font-size: 2rem;
    }
    .about-description-wrapper h2{
        font-size: .6rem;
    }
    .about-description-wrapper p{
        font-size: .86rem;
    }
    .flag{
        width: .8rem;
        margin-right: .33rem;
    }

}
