
.album-wrapper{
    width: 95%;
    background: transparent;
    display: flex;
    flex-direction: column;
    margin: 6rem auto 0 auto;
    overflow-x: hidden;
    animation: transitionIn 0.75s;

}
.photos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-photo{
    width: 30%;
    margin: 0 1% 2% 1%;
    transition: 300ms;
}
.single-img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

@media(max-width: 768px){

}
@media(max-width: 576px){
    .single-photo{
        width: 80%;
    }
}