.album-header{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.photos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-photo{
    width: 300px;
    margin: 0 .75rem .75rem .75rem;
}
.single-img{
    width: 100%;
    height: auto;
    cursor: pointer;
}