.dropdown-navigation{
    background: transparent;
    position: fixed;
    top: 50px;
    right: 0;
    transform: translateY(-130%);
    transition: transform 100ms ease-in;
}
.dropdown-navigation.opened{
    transform: translateY(0);
}

.dropdown-navigation ul{
    list-style: none;
    margin: 0 1rem 0 0;
    padding: 0;
}
.dropdown-navigation li{
    margin-bottom: .5rem;
}
.dropdown-navigation a{
    color: white;
    text-decoration: none;
}
.dropdown-navigation a:hover,
.dropdown-navigation a:active{
    color: #202020;
    transition: 300ms;
}
@media(min-width:691px){
    .dropdown-navigation.opened{
        transform: translateY(-130%);
    }
}