.navbar{
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    height: 65px;
    z-index: 200;
}
.navbar-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
}
.navbar-logo{
    width: 150px;
    height: 39.39px;
    margin-left: 3rem;
}
.navbar-logo a{
    text-decoration: none;
}
.navbar-logo-img{
    width: 100%;
    height: auto;
}
.navbar-spacer{
    /* flex-grow: 1; */
}
.navbar-navigation-items{
    margin-right: 3rem;
}
.navbar-navigation-items a{
    color: white;
    text-decoration: none;
}
.navbar-navigation-items ul{
    list-style: none;
    margin-left: 0;
    margin-right: auto;
    padding: 0;
    display: flex;
}
.navbar-navigation-items li{
    margin-left: 1.4rem;
}
.navbar-navigation-items a:hover{
    color: #202020;
    transition: 300ms;
}
.navbar-navigation-items ul li a.active-navigation-link{
    color: #202020;
}
.dropDownToggleButtonDiv{
    height: 1.4rem;
    width: 1.4rem;
    display: none;
}
@media(max-width: 690px){
    .navbar-navigation-items{
        display: none;
    }
    .dropDownToggleButtonDiv{
        display: flex;
        margin-right: 3rem;
    }
}
@media(max-width: 360px){
    .navbar-logo{
        margin-left: 1rem;
    }
    .dropDownToggleButtonDiv{
        margin-right: 1rem;
    }
}