body{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: #454c56;
    font-size: 25px;
    overflow-x: hidden; 
}
.navbar{
    font-size: .65em;
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
}
.imgContainer{
    margin: 0 auto 20px auto;
}
.album-container{
    margin-top: 80px;
}
.collapse-menu-div{
    transition: 80ms;
}

.background-image-div{
    z-index: -50;
}
.background-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.lightboxOverlay:focus{
    outline: none;
}
@media(max-width: 575px){

}    